# Build Folders
bin
obj
*.pdb
.vs

# mstest test results
TestResults
CodeCoverage
coverage.cobertura.xml

# test project
ConsoleTest

# files
*.suo
*.snk
*.vspx
*.user
update-version.ps1
publish.ps1
